<div class="login-page">
  <div class="form">
    <form [formGroup]="loginForm" class="login-form " (submit)="login()">
      <input
        type="text"
        formControlName="email"
        class="form-control"
        placeholder="Usuário"
        autofocus
      />

      <input
        formControlName="senha"
        type="password"
        class="form-control"
        placeholder="Senha"
      />
      <button
        [disabled]="loginForm.invalid"
        type="submit"
        class="btn btn-primary btn-block"
      >
        Entrar
      </button>
    </form>
  </div>
</div>
